{ // Basically only need this file for Mocha
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "semi": ["error", "never"],
    "no-console": ["off"],
    "no-unused-vars": 1
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ignorePatterns": ["dist"]
}
